# ~/.gitconfig (generated)

# Fallback defaults
[user]
    name = M6
    email = m6@m6.wtf

# Usability defaults
[init]
    defaultBranch = main
[pull]
    rebase = false
[push]
    default = simple
[core]
    editor = nvim
    pager = delta
[color]
    ui = auto
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3

# Conditional identities by directory (portable via ~)
[includeIf "gitdir:~/repos/GitHub"]
    path = ~/.config/git/identities/github_personal.gitconfig

[includeIf "gitdir:~/repos/Work"]
    path = ~/.config/git/identities/work.gitconfig

[includeIf "gitdir:~/repos/GitLab"]
    path = ~/.config/git/identities/gitlab.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[submodule]
	recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
