layout {

    focus-ring {
        active-color   "#ff8cb3"
        inactive-color "#000000"
        urgent-color   "#ff99b8"
    }

    border {
        active-color   "#ff8cb3"
        inactive-color "#000000"
        urgent-color   "#ff99b8"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ff8cb3"
        inactive-color "#d90049"
        urgent-color   "#ff99b8"
    }

    insert-hint {
        color "#ff8cb380"
    }
}

recent-windows {
    highlight {
        active-color "#ff8cb3"
        urgent-color "#ff99b8"
    }
}
